/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2023, 1:26:42 AM
    Author     : tt
*/

/*Footer*/

.footer{
    width: 100%;
    padding: 2%;
    background-color: #292c2f;
    color: #bbb;
    height: 250px;
    padding-right: 100px;
}

.footer h4{
    margin-left: 150px;
}

.footer a{
    color: #999;
    text-decoration: none;
    font-size: 15px;
    margin-left: 150px;
}

.footer ul li{
    list-style: none;
}

.footer .column{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.footer i{
    margin-right: 10px;
}

.footer p{
    padding-top: 50px;
    padding-left: 500px;
}
