/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2023, 4:04:29 PM
    Author     : tt
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
}


.icon-hover:hover {
    border-color: #0D6780 !important;
    background-color: white !important;
    color: #0D6780 !important;
}

.icon-hover:hover i {
    color: #0D6780 !important;
}

/* Buying */
.Addtocart {
    display: inline-block;
    padding: 1.5%;
    background-color: #0D6780;
    border: none;
    color: #FFFF;
    border-radius: 5px;
}

.Addtocart input[type="submit"] {
    background: transparent;
    border: none;
    color: #FFFF;
}

.Addtocart:hover {
    background-color: #074152;
}
/* comment */
.comment-card-inner {
    margin-left: 4rem;
}

.user-comment {
    border: 1px solid rgb(212, 206, 206);
    box-sizing: border-box;
    border-left: none;
    border-right: none;
    padding: 2px 5px;
}

.user-comment-reply {
    border: 1px solid rgb(212, 206, 206);
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 2px 5px;
}

.like {
    background-color: #0D6780;
    border: none;
}

.like:hover {
    background-color: #074152;
}
