<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>Controllers.Auth.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicStartSerlvet</servlet-name>
        <servlet-class>Controllers.Public.PublicStartSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthDispatchServlet</servlet-name>
        <servlet-class>Controllers.Auth.AuthDispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>Controllers.Auth.AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicCartServlet</servlet-name>
        <servlet-class>Controllers.Public.PublicCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add-product</servlet-name>
        <servlet-class>Controllers.Public.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicShopServlet</servlet-name>
        <servlet-class>Controllers.Public.PublicShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicPageServlet</servlet-name>
        <servlet-class>Controllers.Public.PublicPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search-product</servlet-name>
        <servlet-class>Controllers.Public.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add-bird</servlet-name>
        <servlet-class>Controllers.Public.AddBirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controllers.Public.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove-bird</servlet-name>
        <servlet-class>Controllers.Public.RemoveBirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controllers.Public.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>Controllers.Public.CheckoutSuccessfulServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforReceiveServlet</servlet-name>
        <servlet-class>Controllers.Public.InforReceiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptOrder</servlet-name>
        <servlet-class>Controllers.Staff.AcceptAnOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deniedOrder</servlet-name>
        <servlet-class>Controllers.Staff.deniedAnOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>Controllers.Auth.authChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllAccount</servlet-name>
        <servlet-class>Controllers.Admin.viewAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedAccountStatus</servlet-name>
        <servlet-class>Controllers.Admin.updatedAccountStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedAccountRoles</servlet-name>
        <servlet-class>Controllers.Admin.updatedAccountRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllOrder</servlet-name>
        <servlet-class>Controllers.Admin.viewAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductStatus</servlet-name>
        <servlet-class>Controllers.Admin.updateProductStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log-in</servlet-name>
        <url-pattern>/log-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicStartSerlvet</servlet-name>
        <url-pattern>/PublicStartSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guest</servlet-name>
        <url-pattern>/guest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login-facebook</servlet-name>
        <url-pattern>/login-facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login-google</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign-up</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicCartServlet</servlet-name>
        <url-pattern>/PublicCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add-product</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicShopServlet</servlet-name>
        <url-pattern>/PublicShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicPageServlet</servlet-name>
        <url-pattern>/PublicPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search-product</servlet-name>
        <url-pattern>/search-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add-bird</servlet-name>
        <url-pattern>/add-bird</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove-bird</servlet-name>
        <url-pattern>/remove-bird</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/views/errors/errorPage404.jsp</location>
    </error-page>
    <!--    <error-page>
        <error-code>500</error-code>
        <location>/views/errors/errorPage500.jsp</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforReceiveServlet</servlet-name>
        <url-pattern>/InforReceiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptOrder</servlet-name>
        <url-pattern>/acceptOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deniedOrder</servlet-name>
        <url-pattern>/deniedOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllAccount</servlet-name>
        <url-pattern>/viewAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedAccountStatus</servlet-name>
        <url-pattern>/updatedAccountStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedAccountRoles</servlet-name>
        <url-pattern>/updatedAccountRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllOrder</servlet-name>
        <url-pattern>/viewAllOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductStatus</servlet-name>
        <url-pattern>/updateProductStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PublicStartSerlvet</welcome-file>
    </welcome-file-list>
</web-app>
